/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,th,td {
	text-align: left;
	font-weight: normal;
}

table,td,th {
	vertical-align: middle;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}

a img {
	border: none;
}

/**
 * Basic Typography
 */
body {
	font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica,
		sans-serif;
	font-size: 80%;
	color: #222;
	background: #fff;
	margin: 1em 1.5em;
	height: 90%;
	line-height: 1.5;
}

pre,code {
	margin: 1.5em 0;
	white-space: pre;
}

pre,code {
	font: 1em 'andale mono', 'lucida console', monospace;
	line-height: 1.5;
}

a[href] {
	color: #436976;
	background-color: transparent;
}

h1,h2,h3,h4,h5,h6 {
	color: #003a6b;
	background-color: transparent;
	font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica,
		sans-serif;
	margin: 0;
	padding-top: 0.5em;
}

h1 {
	font-size: 130%;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #FF8800;
}

h2 {
	font-size: 120%;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #aaa;
}

h3 {
	font-size: 110%;
	margin-bottom: 0.5em;
	text-decoration: underline;
}

h4 {
	font-size: 100%;
	font-weight: bold;
}

h5 {
	font-size: 100%;
	font-weight: bold;
}

h6 {
	font-size: 80%;
	font-weight: bold;
}

/**
 * Map Examples Specific
 */
.smallmap {
	width: 800px;
	height: 600px;
	border: 1px solid #ccc;
}

#tags {
	
}



ul.arrowunderline {
	list-style-type: none;
	margin: 0;
	margin-button: -50px;
	padding: 0;
	text-align: center;
	/* enter "left", "right", or "center" to orient the menu accordingly */
	font: bold 14px Georgia;
}

ul.arrowunderline li {
	display: inline;
	margin-right: 25px; /* spacing between each menu item */
}

ul.arrowunderline li a {
	position: relative;
	color: black;
	padding-bottom: 4px;
	/*spacing between each menu item and arrow underline beneath it */
	text-decoration: none;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}

ul.arrowunderline li a:hover {
	border-bottom: 3px solid #FF8800; /* style of arrow underline */
}

ul.arrowunderline li a:hover:after {
	/* use CSS generated content to add arrow to the menu */
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	margin-left: -5px; /* value should match border-width below */
	bottom: 0;
	border-width: 5px; /* value should match margin-left above */
	border-style: solid;
	border-color: transparent transparent #FF8800 transparent;
	/* create up arrow */
}